{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
    <title>Ошибка 500</title>
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
{% endblock stylesheet %}

{% block content %}
<main role="main" class="container">
<div class="row">
    <div class="col-md-12">
        <h1>Ошибка 500</h1>
        <h3>Ошибка на сервере, попробуйте обновить страницу или обратиться позже</h3>
        <h3><a href="{% url 'index' %}">Вернуться на главную</a></h3>
    </div>
</div>
</main>
{% endblock %}