{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static '/pages/index.css' %}">
</head>
<body class="body">
{% include 'header.html' %}

<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Сброс пароля прошёл успешно</p>
        <div class="custom-button-block">
            <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
        </div>
    </div>


</main>
{% include 'footer.html' %}
</body>
</html>
