{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static './pages/shopList.css' %}">
</head>
<body class="body">
{% include 'header.html' %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for purchase in page %}
               <li class="shopping-list__item" data-id="{{ purchase.id }}">
                    <div class="recipe recipe_reverse">
                        <img src="{{ purchase.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                        <h3 class="recipe__title"><a href="{% url 'recipe_page' purchase.id %}">{{ purchase.name }}</a></h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ purchase.cooking_time }} мин.</p>
                    </div>
                    <a href="{% url 'delete_purchase' purchase.id %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}

        </ul>
        {% if page %}
        <a href="{% url 'download_shopping_list' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}


    </div>
</main>
{% include 'footer.html' %}
<script src="{% static './js/config/config.js' %}"></script>
<script src="{% static './js/components/Header.js' %}"></script>
<script src="{% static './js/components/ShopList.js' %}"></script>
<script src="{% static './js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
</body>
</html>
