<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block recipe_name %}
    <!-- Блок названия рецепта -->
    {% endblock recipe_name %}

    {% block stylesheet %}
    <!-- Блок стилей css -->
    {% endblock stylesheet %}

    <body class="body">
        {% include 'header.html' %}
    </body>

    {% block recipe %}
    <!-- Блок рецепта и footer -->
    {% endblock recipe %}

    {% block js %}
    <!-- Блок js -->
    {% endblock js%}

</head>
</html>


